.firstHomeTitle{
    font-size: 26px;
    color: #C12D18;
    font-weight: 700;
}

.homeTitle{
    font-size: 35px;
    color: #C12D18;
    font-weight: 700;
}
.introTitle{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 10px;
}
.formTitle{
    font-size: 25px;
}
