.containerLeftContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    width: 50%;
    color: white;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    
    .intro {
        margin-top: 10%;  
        width: 50%; 
    }

    .login-form{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 50%;
        height: 50%;


        .login-input {
            position: relative;
        }
        
        .password-input {
            position: relative;
        }

        
        .login-icon {
             position: absolute;
             width: 20px;
             right: 5%;
             top: 35%;

}
    }


}
