#mainContent{
    display: flex;
    justify-content: space-between;
    
    img{
        height: 90vh;
    }
    
    
}

#homeText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
}

