#mainContent{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    
    img{
        display: absolute;
        height: 80vh;
        
    }
    #homeTextBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: end;
        margin-right: 5%;
        height: 60vh;
        overflow: hidden;
        margin-top: 35px;
    }
    
    
    
}

